	{% assign pages = site.pages | sort:'nav-title' %}
	<div class="mainnav">
		<nav class="mainnav__wrapper">
			<ul class="mainnav__list">
				{% for p in pages %}
					{% unless p.permalink == '/' && unless p.permalink != '' && p.nav-title != '' && p.title != '' %}
				<li class="mainnav__list__item"><a href="{{ site.baseurl}}{{ p.permalink }}" class="mainnav__link{% if page.url == p.url %} mainnav__link__disabled{% endif %}">{% if p.nav-title %}{{ p.nav-title }}{% else %}{{ p.title }}{% endif %}</a></li>
				  {% endunless %}
				{% endfor %}
			</ul>
		</nav>
	</div>