.lead-in {
  padding-bottom: 6em;
  position: relative;
  z-index: 3;

  @include media($large-up) {
    @include display(flex);
  }

  &__label {

    @include media($large-up) {
      position: absolute;
      right: 2em;
    }
  }

  &__social__wrapper {
    display: none;

    @include media($large-up) {
      display: block;
      width: 25%;
    }
  }

  &__social {
    @include list-reset;
    border-top: 2px solid palette(brand, base);
    padding-top: 2em;
    width: 25%;

    &__links {
      display: block;
      font-family: $font-custom;
      font-size: 1.5rem;
      letter-spacing: .01em;
      line-height: 1.25;
      margin-bottom: .5em;

      a {

        @include touch-hover('idle') {
          color: palette(mono, 90);
        }

        @include touch-hover('hover') {
          color: palette(brand, teal);
        }
      }
    }
  }

  &__content__wrapper {

    @include media($large-up) {
      width: 70%;
    }
  }

  &__headline {
    font-family: $font-custom;
    font-size: 3rem;
    font-weight: $font-custom-weight-normal;
    margin-top: -0.5em;
  }

  &__copy {
    font-family: $font-serif;

    a {

      @include touch-hover('idle') {
        color: inherit;
      }

      @include touch-hover('hover') {
        color: inherit;
      }
    }
  }

  &__subhead {
    font-family: $font-serif;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    margin: 2em 0 1em;
  }

  &__buttons {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);

    a {
      text-align: center;
    }

    em {
      font-family: $font-custom;
      font-weight: $font-custom-weight-normal;
      margin: 0 1em;
    }
  }
}

.contact-form {
  background: palette(mono, 10);
  position: relative;
  z-index: 3;
}

.lead-out {
  background: palette(brand, denim);
  padding: 6em 0;
  position: relative;
  text-align: center;
  z-index: 3;

  &__headline {
    color: palette(mono, white);
    clear: none;
    font-family: $font-custom;
    font-size: 4rem;
    font-weight: $font-custom-weight-normal;
    line-height: 1;
    margin-bottom: .5em;
  }

  &__copy {
    color: palette(mono, white);
    font-family: $font-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  &__phone {
    display: block;
    font-family: $font-serif;
    font-size: 2rem;
    font-weight: $font-weight-bold;

    @include touch-hover('idle') {
      color: palette(mono, white);
    }

    @include touch-hover('hover') {
      color: palette(mono, white);
    }
  }

  a.button.button__primary {
    color: palette(mono, white);
    display: inline-block;
    margin-top: 1em;
  }
}