.container {
  padding: 0 1em;
}

.section {

  &__title {
    font-family: $font-serif;
    font-size: 2em;
		font-weight: $font-weight-normal;
    line-height: 1;
    margin-bottom: .3em;

    em {
      font-family: $font-italic;
      font-size: 2em;
    }
  }

  &__label {
    @include writing-mode(vertical-rl);
    @include transform( rotate(180deg) );
    font-size: 1em;
    font-weight: 600;
    float: right;
    letter-spacing: 0.25em;
		margin-bottom: -2em;
    padding: 0 1em; // fun fact: padding is still as you might expect, it has not been rotated
    text-align: right;
    text-transform: uppercase;

    &--vert {

    }
  }
}

.site-nav {
  position: absolute;
  z-index: 1;

  &__svg {
    padding: 1em;
  }
}

// Group declarations

.banner__subtitle,
.expertise__categories,
.recent-work__link {
	font-weight: $font-weight-bold;
	letter-spacing: .08rem;
	text-transform: uppercase;
}

.banner__subtitle,
.expertise__categories {

	&:before {
		content: '—';
		font-weight: $font-weight-extra-bold;
		margin-right: .5em;
	}
}

.expertise,
.thinking {
	padding: 4em 0;
}

// Section declarations

.banner {
  position: relative;

	&__title,
	&__subtitle,
	&__svg__inner .button {
		color: palette(mono, white);
	}

  &__header {
    position: absolute;
    top: 15%;
  }

  &__subtitle {

    &:before {
      color: palette(brand, base);
    }
  }
}

.recent-work {
  position: relative;
  z-index: 3; // one more than .banner__svg__follow

  &__title {
    margin-bottom: 1em;
  }

  &__client {
    font-weight: $font-weight-bold;
    margin-bottom: .5em;
  }

  &__copy {
    font-family: $font-serif;
  }

  &__link {
		border-right: 2px solid palette(brand, teal);
		padding: .5em 2em .5em 0;

		@include touch-hover('idle') {
	    color: palette(brand, teal);
		}

    @include touch-hover('hover') {
      color: palette(brand, base);
    }
  }

	img:first-of-type {
		max-width: 175%;
	}
}

.expertise {
	background: palette(brand, denim);
	padding-bottom: 0;

	&__title,
	&__categories,
	&__areas {
		color: palette(mono, white);
	}

	&__title {
		margin-bottom: 2em;
	}

	&__row {
		@include display(flex);
		padding-bottom: 2em;
	}

	&__column {
		width: 50%;

		&:first-child {
			margin-right: .5em;
		}

		&:last-child {
			margin-left: .5em;
		}
	}

	&__categories {

		&:before {
			color: palette(brand, teal);
		}
	}

	&__areas {
		font-family: $font-serif;
		margin-bottom: 1.5em;
		padding-bottom: 1em;

		&:not(:last-child) {
			border-bottom: 1px solid lighten(palette(brand, denim), 8%);
		}
	}

	&__bottom {
		background: palette(brand, teal);

		.expertise__categories {
			padding: 5em 0 2em;

			&:before {
				color: palette(brand, blue);
			}
		}

		.expertise__areas {

			&:not(:last-child) {
				border-bottom: 1px solid lighten(palette(brand, teal), 15%);
			}
		}
	}
}

.thinking {

	.section__label {
		margin-bottom: -5em;
	}

	&__blog {
		text-align: center;
	}

	&__title {
		line-height: 1.25;
		margin-bottom: 1.5em;

		em {
			font-size: inherit;
			font-weight: $font-weight-extra-bold;
		}
	}

	&__post {
		box-shadow: $default-box-shadow;
		margin-bottom: 2em;
		text-align: left;
	}
}