.container {
  padding: 0 $page-gutter;
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
}

.section {

  &__label {
    @include writing-mode(vertical-rl);
    @include transform( rotate(180deg) );
    color: palette(mono, 90);
    font-size: 1rem;
    font-weight: $font-weight-bold;
    float: right;
    letter-spacing: 0.25em;
    margin-bottom: -2em;
    padding: 0 1em; // fun fact: padding is still as you might expect, it has not been rotated
    text-align: right;
    text-transform: uppercase;
  }

  &__title {
    color: palette(mono, 90);
    font-size: 2rem;
    font-weight: $font-custom-weight-normal;
    line-height: 1;
    margin-bottom: .3em;

    em {
      font-size: 4rem;
    }
  }
}

// Group declarations

.banner__svg__inner__copy,
.recent-work__copy,
.expertise__areas,
.thinking__post .blog-post--excerpt,
.take-action__copy,
.footer__newsletter__copy {
  font-family: $font-serif;
}

.section__title,
.footer__nav__links,
.footer__nav__label em,
.footer__newsletter__title {
  font-family: $font-custom;
  letter-spacing: .01em;
}

.banner__subtitle,
.recent-work__client,
.expertise__categories,
.take-action__lead-in,
.take-action__link,
.footer__nav__categories {
  font-weight: $font-weight-bold;
}

.take-action__title em {
  font-weight: $font-custom-weight-extra-bold;
}

.banner__title, .banner__subtitle,
.expertise__title, .expertise__categories, .expertise__areas,
.take-action__title, .take-action__copy {
  color: palette(mono, white);
}

.banner__subtitle:before,
.take-action__lead-in,
.footer__nav__categories,
.footer__nav__label {
  color: palette(brand, base);
}

.banner__subtitle,
.expertise__categories,
.take-action__lead-in,
.footer__nav__categories {
  letter-spacing: .125em;
  text-transform: uppercase;
}

.banner__subtitle,
.expertise__categories {

  &:before {
    content: '—';
    font-weight: $font-weight-extra-bold;
    margin-right: .5em;
  }
}

.expertise,
.thinking,
.recent-work__arrow-separator {
  padding: 4em 0;
}

// Section declarations
.navigation {
  padding: 1.5em 1em;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__svg {
    display: inline-block;
    vertical-align: middle;
  }

  &__barmenu {
    float: right;
    vertical-align: middle;

    .menu-toggle {
      font-size: 2rem;
      line-height: 40px;
    }
  }
}

.banner {
  position: relative;

  &__header {
    position: absolute;
    top: 15%;

    em {
      display: block;
    }
  }

  &__subtitle {
    letter-spacing: .06em;
  }

  &__svg__inner {

    &__copy {
      font-size: 1.15rem;
    }
  }

  img {
    max-width: none;
    width: 100%;
  }
}

.recent-work {
  overflow: hidden;
  position: relative;
  z-index: 3; // one more than .banner__svg__follow

  &__client,
  &__copy {
    color: palette(mono, 90);
  }

  &__title {
    margin-bottom: 1em;
  }

  &__client {
    margin-bottom: .5em;
  }

  &__copy {
    margin-bottom: 4em;
  }

  img:first-of-type {
    max-width: 175%; // temporary
  }
}

.expertise {
  background: palette(brand, denim);
  padding-bottom: 0;

  &__title {
    margin-bottom: 2em;
  }

  &__row {
    @include display(flex);
    padding-bottom: 2em;
  }

  &__column {
    @include list-reset;
    width: 48%;

    &:first-child {
      margin-right: 4%;
    }
  }

  &__categories {
    margin-bottom: 2em;

    &:before {
      color: palette(brand, teal);
    }
  }

  &__areas {
    margin-bottom: .875em;
    padding-bottom: .75em;

    &:not(:last-child) {
      border-bottom: 1px solid lighten(palette(brand, denim), 8%);
    }
  }

  &__bottom {
    background: palette(brand, teal);

    .expertise__categories {
      padding-top: 5em;

      &:before {
        color: palette(brand, blue);
      }
    }

    .expertise__areas {

      &:not(:last-child) {
        border-bottom: 1px solid lighten(palette(brand, teal), 15%);
      }
    }
  }
}

.thinking {
  padding-bottom: 6em;

  .section__label {
    margin-bottom: -5em;
  }

  &__blog {
    text-align: center;
  }

  &__title {
    line-height: 1.25;
    margin-bottom: 1.5em;

    em {
      display: block;
      font-size: inherit;
    }
  }

  &__post {
    box-shadow: $default-box-shadow;
    margin-bottom: 2em;
    text-align: left;

		// Following 3 changes should be made in current site's notes.scss so they don't have to be overridden here and things are consistent from posts here to posts on the notes page
    .blog-post--meta--category a {
      letter-spacing: .125em;

      @include touch-hover('idle') {
        color: palette(brand, base);
      }

      @include touch-hover('hover') {
        color: palette(brand, teal);
      }
    }

    .blog-post--excerpt h1 a {

      @include touch-hover('idle') {
        color: palette(brand, blue);
      }

      @include touch-hover('hover') {
        color: palette(brand, teal);
      }
    }

    .blog-post--author span a {

      @include touch-hover('idle') {
        color: palette(brand, base);
      }

      @include touch-hover('hover') {
        color: palette(brand, teal);
      }
    }
  }
}

.take-action {
  background: top left no-repeat url('../../assets/img/sample-video-still.jpg');
  background-size: cover;

  &__content {
    padding-top: 9em;
    padding-bottom: 8em;
  }

  &__title {
    margin: 1.5em 0 .75em;

    em {
      font-size: inherit;
    }
  }

  &__copy {
    margin-bottom: 1em;
  }

  &__link {
    text-transform: uppercase;

    @include touch-hover('idle') {
      color: palette(mono, 15);
    }

    @include touch-hover('hover') {
      color: palette(mono, base);
    }
  }
} // .take-action

.footer {

  &__nav,
  &__newsletter {
    padding-top: 4em;
    padding-bottom: 2em;
  }

  &__nav {
    background: palette(mono, 10);

    nav.footer__nav__row {
      display: flex;
      flex-flow: column wrap;
      height: 600px;
    }

    &__column {
      @include list-reset;
      width: 48%;
      &:nth-of-type(odd) li:last-child {
        margin-bottom: 2.5em;
      }
    }

    &__categories {
      margin-bottom: 1.5em;
    }

    &__links {
      display: block;
      font-size: 1.5rem;
      line-height: 1.25;
      margin-bottom: .5em;

      a {

        @include touch-hover('idle') {
          color: palette(mono, 90);
        }

        @include touch-hover('hover') {
          color: palette(brand, teal);
        }
      }
    }

    div.footer__nav__row {
      display: flex;

      .footer__nav__label {
        padding: 0;
        width: 50%;

        em {
          font-size: 1.25rem;
          font-weight: $font-custom-weight-normal;
          text-transform: capitalize;
        }
      }

      .footer__nav__image {
        width: 50%;
      }
    }

  } // &__nav

  &__newsletter {
    border-bottom: 1px solid palette(mono, 10);
    text-align: center;

    &__title {
      line-height: 1.25;
      margin-bottom: .5em;
    }

    form input[type="email"] {
      border: 2px solid palette(mono, 10);
      border-radius: 0;
      margin-bottom: 1em;
      padding: .75em;
    }
  } // &__newsletter

  &__identification {
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;

    &__copy {
      font-size: .8rem;
      margin-bottom: .25em;

      a {

        @include touch-hover('idle') {
          color: palette(mono, 66);
        }

        @include touch-hover('hover') {
          color: palette(brand, base);
        }
      }
    }

    img {
      margin: 0 auto 1em;
      width: 150px;
    }
  } // &__identification
} // .footer