// @file notes styles

.blog-post {
	display: block;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (min-width: 770px) {
		@include clearfix;
		@include display(flex);
	}

	&--content {
		padding: 2.25em 2em;

		@media (min-width: 770px) {
			float: right;
			padding: 2em;
			width: 60%;
		}

		@include media($large-up) {
			padding: 2em 5em 3em 2em;
		}

		@include media($xlarge-up) {
			width: 55%;
		}
	}

	&--meta {
		color: palette(mono, base);
		font-weight: $font-weight-bold;

		&--category a {
			color: palette(brand, teal);
			text-transform: uppercase;

			@include touch-hover() {
				color: palette(brand, base);
				text-decoration: none;
			}
		}

		.separator {
			margin: 0 1rem;
		}
	} // &--meta

	&--excerpt {
		position: relative;

		h1 {
			font-size: 2em;
			line-height: 1.5em;
			margin: .7em 0;
		}

		a {
			color: palette(brand, blue);

			@include touch-hover() {
				color: palette(brand, denim);
				text-decoration: none;
			}
		}
	} // &--excerpt

	&--author {

		img {
			border-radius: 50%;
			display: inline-block;
			margin-right: 1em;
			vertical-align: middle;
		}

		span {
			color: palette(brand, base);
			display: inline-block;
			font-weight: $font-weight-bold;
		}

		a {
			@include touch-hover() {
				color: palette(brand, teal);
				text-decoration: none;
			}
		}
	} // &--author
} // .blog-post