// @file buttons.scss

// Remove and edit styles as needed. This basic idea provides three button styles
// Can easily be expanded to accomodate more

$button-background-default: transparent;
$button-color-default: palette(mono, 90);
$button-border-color-default: palette(brand, teal);
$button-border-width: 2px;
$button-padding: .75em 2em;

//
// Usage: @include button()
// Accepts: null (default), primary, secondary
// Returns: A compiled set of buttons styles including idle and hover
// Authors: The Oomph Team
//
@mixin button($type:default) {
  border: $button-border-width solid $button-border-color-default;
  display: inline-block;
  font-weight: $font-weight-bold;
  letter-spacing: .15rem;

  padding: $button-padding;
  text-transform: uppercase;

  // Default styles are light grey, hover to darker grey
  @if $type == 'default' {

    @include touch-hover('idle') {
      background-color: $button-background-default;
      color: $button-color-default;
    }

    @include touch-hover('hover') {
      background-color: darken($button-background-default, 8%);
      color: lighten($button-color-default, 8%);
      cursor: pointer;
    }
  }

  @if $type == 'primary' {

    @include touch-hover() {
      background-color: palette(brand);
      border-color: darken(palette(brand), 8%);
      color: palette(mono, 10);
    }

    @include touch-hover('hover') {
      background-color: palette(brand, dark);
      color: palette(mono, white);
    }
  }

  @if $type == 'secondary' {

    @include touch-hover() {
      background-color: palette(mono, 90);
      border-color: palette(mono, black);
      color: palette(mono, 25);
    }

    @include touch-hover('hover') {
      background-color: palette(mono, black);
      color: palette(mono, white);
    }
  }
}

// Classes can be used independently:
// class="button", or class="button--primary"
.button {
  @include button();

  &--primary {
    @include button(primary);
  }

  &--secondary {
    @include button(secondary);
  }
}
