<!DOCTYPE html>
<html class="no-js" lang="en-US">

	{% include head.html %}

	<body class="layout-{{ page.layout }} {{ page.body-class }}">

	<!-- {% include header.html %} -->

	{{ content }}

	</body>

  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script src="{{ "assets/js/plugins.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "assets/js/prototyping.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "assets/js/scripts.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "assets/js/navigation.js" | prepend: site.baseurl }}"></script>
  
</html>