// Variables throughout the project
// Most variables are localized at the top of the file from which they are first used

// Global font declarations
$font-sans: 'Source Sans Pro', $helvetica;
$font-serif: 'Source Serif Pro', $georgia;
$font-mono: 'Source Code Pro', $monospace;
$font-italic: 'Playfair Display', serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 900;

// Copy
$paragraph: 1em;
$line-height: 1.75;

// establishing some vertical rhythm for no type elements
// use this on margin bottom etc.
$vert-line-height: $line-height * 1em;

// Other globals
$default-border-radius: 4px;

// Tables
$table-border-collapse: true;
$table-border-color: $color-borders;
$table-cell-padding: .5em;