// Variables throughout the project
// Most variables are localized at the top of the file from which they are first used

// Global font declarations
$font-sans: $helvetica;
$font-serif: $georgia;
$font-mono: $monospace;

$font-custom: 'Roboto Mono', $font-sans;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Copy
$paragraph: 1em;
$line-height: 1.75;

// establishing some vertical rhythm for no type elements
// use this on margin bottom etc.
$vert-line-height: $line-height * 1em;

// Other globals
$default-border-radius: 4px;

// Tables
$table-border-collapse: true;
$table-border-color: $color-borders;
$table-cell-padding: .5em;